@component('layouts/master', { title: post.title })
  @slot('main')
    <h1 class="ui header">{{ post.title }}</h1>
    <p>{{ post.body }}</p>
    <div class="ui buttons">
      <a class="ui button" href="{{ route('posts.home') }}">Back</a>
      <a class="ui button" href="{{ route('posts.edit', { id: post.id }) }}">Edit</a>
      <a class="ui red button" href="{{ route('posts.delete', { id: post.id }) }}">Delete</a>
    </div>
  @end
@end